@import '../../styles/';

.wrap-clear {
    position: relative;
}

.btn-clear {
    position: absolute;
    right: 15px;
    top: 8px;
    cursor: pointer;
}

.isSuccess,
.isSuccess+p {
    color: $color-done-active;
}

#root .night-theme .edit-film label {
    color: $color-gray-light;
}

#root .night-theme .edit-film>div>div>div>div>div,
#root .night-theme .btn-upload,
#root .night-theme .btn-send,
#root .night-theme .btn-edit {
    color: $color-gray-light;
    background-color: rgb(55 62 71 / 79%);
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    border: 1px solid $color-gray;
    border-radius: 6px;
}

.edit-film {
    margin-top: 25px;
}

.edit-poster {
    width: 100%;
}

.edit-poster img {
    width: 100%;
    max-width: 300px;
}

.edit-film-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.back {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}