.add-film {
    transition: 1s;
    position: absolute;
    top: -570px;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #fff;
    width: 50%;
    margin: auto;
    padding: 15px;
    box-shadow: 0px 1px 5px black;
}

.add-film.active {
    top: 48px;
}

.night-theme .add-film {
    background-color: #2d333b;
}

.img-block {
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    padding: 5px;
}

#root .night-theme .add-film>div>div>div,
#root .night-theme .btn-upload,
#root .night-theme .btn-send,
#root .night-theme .btn-reset {
    color: #adbac7;
    background-color: rgb(55 62 71 / 79%);
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    border: 1px solid #707982;
    border-radius: 6px;
}

#root .night-theme input::placeholder,
#root .night-theme .add-film label {
    color: #adbac7;
}

@media only screen and (max-width: 786px) {
    .add-film {
        width: 91%;
    }
}

@media only screen and (max-width: 424px) {
    .add-film.active {
        top: 89px;
    }
}