@import '../../styles/';

.login {
    border: 1px solid $color-gray-light;
    display: flex;
    margin: 0 auto;
    margin-top: 100px;
    width: 320px;
    padding: 15px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 200px;
}