$color-done: #dddddd;
$color-done-active: #35A352;
$color-done-active-light: #cee5d4;
$color-pink: #ff8d98;
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #2d333b;
$color-gray-light: #c4c4c4;
$color-blue: #3b7dc5;